.employee-heading {
    color: #1e293b;
    width: 100%;
    border-radius: 15px;
    font-size: xx-large;
}

.employee-page {
  padding: 20px;
}

.employee-header {
  display: flex;
  justify-content: space-around; /* space between search & add button */
  align-items: center; /* vertically align them */
  gap: 150px; /* optional: space between elements if they wrap */
}
.plus {
  font-weight: bolder;
  font-size: 1.2em; /* Slightly larger than text */
  margin-right: 5px; /* Space between + and text */
}

.employee-search {
  display: flex;
  gap: 10px; /* space between input and search button */
}

.employee-search input {
  width: 400px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.employee-search button {
  padding: 8px 16px;
  border: none;
  background-color: #1e293b;
  color: #C8B78E;
  border-radius: 4px;
  cursor: pointer;
}

.employee-add button {
  padding: 8px 16px;
  border: none;
  background-color: #1D2233;
  color: #C8B78E;
  border-radius: 4px;
  cursor: pointer;
}


.table-container {
  overflow-x: auto;
  padding-right: 20px; /* ✅ right gap */
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.employee-table th,
.employee-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.employee-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.employee-table tr:nth-child(even) {
  background-color: #fafafa;
}